.AddRecipesPage{
    
    .container{
        height: 75vh;
        width: 60%;
        margin: auto;
        justify-content: space-between;
        border-radius: 10px;
        background: hsl(0,0%,91%);
    }
    


    
}

