.Card{
    width:23rem;
    height:32rem ;
    border-radius: 1.25rem;
    margin: 1rem 0 3rem 0;
}

@media (max-width:1300px){
    .Card{
     width:90% ;
     // background: red;
 
    } 
 }

@media (max-width:800px){
   .Card{
    width:auto ;
    // background: red;

   } 
}
// .Card{
//     width: "22rem",
//     height: "32rem",
//     borderRadius: "1rem",
//     margin: "0 0 3rem 0",
//   