.singlepost{
    flex:9;
}
.singlePostWrapper{
   padding: 20px;
   padding-right: 0; 
}
.singlepostImg{
    width:100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}
.singlepostTitle{
    text-align: center;
    margin: 10px;
    font-family: 'lora', serif;
    font-size: 28px;
}
.singlepostEdit{
    float: right;
    font-size:16px ;
}

/*        Single post icon kyl icon dekatma dmme.1st child eken 1st ekknway 2nd childgen 2nd way pennanwa*/
.singlepostIcon{
    margin-left: 10px;
    cursor: pointer;
}
.singlepostIcon:first-child{
    color: teal;
}
.singlepostIcon:last-child{
    color: tomato;
}

/* space betwwen eken element dekk athara hidask enwa*/
.singlepostInfo{
 margin-bottom: 20px;
 display: flex;
 justify-content: space-between;
 font-size: 16px;
 color:#b39656;
}

.singlepostdiscription{
    color: #4d4a4a;
    font-size: 18px;
    line-height: 25px;
}

.singlepostdiscription::first-letter{
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
}
