.singlepost{
    flex:9;
    align-items: center;
}
.singlePostWrapper{
   padding: 20px;
   padding-right: 0; 
}
.singlepostImg{
    width:500px;
    height:500px;
    margin-left: 30%;
    border-radius: 5px;
    object-fit: cover;
}
.singlepostTitle{
    text-align: center;
    margin: 10px;
    font-family: 'lora', serif;
    font-size: 28px;
}
.singlepostEdit{
    float: right;
    font-size:16px ;
}

/*        Single post icon kyl icon dekatma dmme.1st child eken 1st ekknway 2nd childgen 2nd way pennanwa*/


/* space betwwen eken element dekk athara hidask enwa*/
.singlepostInfo{
 margin-bottom: 20px;
 display: flex;
 justify-content: space-between;
 font-size: 16px;
 color:#b39656;
}

.singlepostdiscription1{
    color: #4d4a4a;
    font-size: 18px;
    line-height: 25px;
    width: 70%;
    margin-left: 10%;
    text-align: justify;

}
.singlepostdiscription2{
    color: #4d4a4a;
    font-size: 18px;
    line-height: 25px;
    width: 70%;
    margin-left: 10%;
    text-align: justify;

}

.singlepostdiscription1::first-letter{
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
}
.singlepostdiscription2::first-letter{
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
}
.supliers{
    margin-left: 7%;
    align-items: center;
}
.suplier{
    color: rgb(9, 57, 90);
    font-size: 20px;
    font-weight: bold;
}

